{% extends "base.html.twig" %}
{% block body %}
<H2>Importering data til Graphene:<br>
    <form action="{{ path("app_import_uploadfilecontroller") }}" method="post" enctype="multipart/form-data">
        <input type="file" name="plik" accept="text/csv,text/txt" value="Velg en fil" />
        <input type=submit value="Opne">

    </form></h2>



{% endblock %}
