{% extends /templates/base.html.twig %}
{% block body %}
<br>
<br>
<br>
<br>
        <div>
            <H2>Importering data:<br>
            <form method="post">
                <input type="file" enctype="multipart/form-data" size=250 name="plik" accept="text/csv,text/txt" value="Velg en fil" />
                <input type=submit value="Import"></h2>
         </div>
            </form>

{% blockend %}